.contact-me {
  .heading {
    h6 {
      color: rgba(255, 255, 255, 0.2);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.6rem;
      padding: 1rem 0;
      a {
        outline: none;
        border: none;
        color: inherit;
        transition: 0.4s color ease;
        &:hover {
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  .inputs {
    .input-group {
      label,
      input,
      textarea {
        display: block;
        width: 50%;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
        i {
          opacity: 0;
          color: rgb(230, 54, 54);
          -webkit-transition: 0.4s ease;
          transition: 0.4s ease;
        }
      }
      .input-label {
        font-size: 1.1rem;
      }
      .active {
        color: $primary;
      }
      input.invalid {
        background-color: $inputbackcolor;
      }
      label.invalid {
        color: rgb(230, 54, 54);
        vertical-align: middle;
      }
      i.invalid {
        opacity: 1;
      }
      input,
      textarea {
        background: transparent;
        font-size: 1.8rem;
        outline: none;
        border: none;
        resize: none;
        padding: 0.6rem 0;
        // border-radius: 10px;
        color: white;
        max-width: 50%;
        min-width: 50%;
        &::-webkit-input-placeholder {
          font-family: "Montserrat", sans-serif;
          color: rgba(144, 144, 144, 0.5);
        }
        &:-ms-input-placeholder {
          font-family: "Montserrat", sans-serif;
          color: rgba(144, 144, 144, 0.5);
        }
        &::-ms-input-placeholder {
          font-family: "Montserrat", sans-serif;
          color: rgba(144, 144, 144, 0.5);
        }
        &::placeholder {
          font-family: "Montserrat", sans-serif;
          color: rgba(144, 144, 144, 0.5);
        }
      }
    }
  }
  .email {
    font-size: 1rem;
    letter-spacing: 1px;
    a {
      position: relative;
      // cursor: pointer;
      color: $white;
      text-decoration: none;
      outline: none;
      padding: 0.3rem 0.2rem;
      .email-text {
        padding-left: 3px;
        // z-index: 2;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: relative;
      }
      &:before {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        content: "";
        position: absolute;
        top: 70%;
        // z-index: 1;
        height: 5px;
        width: 100%;
        background: rgb(202, 202, 133);
      }
      &:hover:before,
      &:active:before {
        top: 0;
        height: 100%;
      }
      &:hover .email-text,
      &:active .email-text {
        color: $black;
      }
    }
  }
}
