@media screen and (max-width: 768px) {
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    .heading {
      position: static;
      width: 100%;
      margin-top: 5rem;
    }
    &-showcase {
      width: 100%;
    }
    .work-item {
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }
}
