.footer {
  position: fixed;
  bottom: 1rem;
  display: inline-block;
  right: 0;
  z-index: 10;
  color: #fff;
  a {
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
  }
  .footer-row {
    ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 1rem;
      li {
        padding: 0rem 0.5rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    opacity: 1;
    left: 0;
    background: transparent;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    .footer-row {
      ul {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        li {
          padding: 0rem 0.5rem;
        }
      }
    }
  }
}
