$backcolor: #f7f8f3;
$inputbackcolor: #addcca;
$primary: #f00;
$tertiary: #2c3d63;
$secondary: rgb(241, 50, 50);
$white: #fff;
$black: #000;
$linkcolor: #2c3d63;
$emphasis: #f00;
$inputplaceholder: rgba(144, 144, 144, 0.5);
$inputlabelinvalid: rgb(230, 54, 54);

@import "preloader";
@import "mouse";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

.full-page {
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .full-page-mobile {
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (min-width: 768px) {
  .full-page-desktop {
    width: 100vw;
    height: 100vh;
  }
}
.wow {
  visibility: hidden;
}
body {
  overflow-x: hidden;
}

html.nav-open main {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
// Backmask - Clip Path
// .backmask {
//   background: $backcolor;
//   position: fixed;
//   top: 0;
//   right: 0;
//   z-index: 1;
//   bottom: 0;
//   left: 0;
//   -webkit-clip-path: circle(0% at 50% 50%);
//   clip-path: circle(0% at 50% 50%);
//   transition: clip-path 1.5s cubic-bezier(0.86, 0, 0.07, 1),
//     -webkit-clip-path 1.5s cubic-bezier(0.86, 0, 0.07, 1);
// }
// body.loaded {
//   .backmask {
//     -webkit-clip-path: circle(100% at 50% 50%);
//     clip-path: circle(100% at 50% 50%);
//   }
// }

// Backmask - Border-Radius

.backmask {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0px;
  border-radius: 50%;
  height: 0px;
  -webkit-transition: width 1.5s cubic-bezier(0.86, 0, 0.07, 1),
    height 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: width 1.5s cubic-bezier(0.86, 0, 0.07, 1),
    height 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translate(-50%, -50%);
  transition: background 0.8s ease-in;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  body.loaded {
    .backmask {
      width: 200vh;
      height: 200vh;
    }
  }
}

@media screen and (min-width: 768px) {
  body.loaded {
    .backmask {
      width: 200vw;
      height: 200vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .full-page-desktop {
    width: 100vw;
    height: 100vh;
  }
}
.heading {
  &-super {
    font-size: 4rem;
    color: $emphasis;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    &-super {
      font-size: 2.4rem;
    }
  }
}
.font {
  &-primary {
    font-family: "Libre Baskerville", sans-serif;
  }
  &-secondary {
    font-family: "Quicksand", sans-serif;
  }
  &-tertiary {
    font-family: "Montserrat", sans-serif;
  }
  &-quad {
    font-family: "Rufina", sans-serif;
  }
}

.text {
  &-common {
    color: $black;
    padding: 1rem 0;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.35rem;
    em {
      display: block;
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      color: $emphasis;
      position: relative;
      padding-left: 2rem;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: $emphasis;
        width: 10px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &-common {
      font-size: 1.2rem;
      em {
        font-size: 1.4rem;
      }
    }
  }
}

// Backgrounds

.b-primary {
  background-color: $backcolor;
}
.b-white {
  background-color: #fff;
}
.b-transparent {
  background: transparent;
}

// Display Values
@media screen and (min-width: 768px) {
  .d-none-desktop {
    display: none !important;
  }
  .d-block-desktop {
    display: block !important;
  }
  .d-flex-desktop {
    display: block !important;
  }
  .d-iblock-desktop {
    display: inline-block !important;
  }
}

@media screen and (max-width: 768px) {
  .d-none-mobile {
    display: none !important;
  }
  .d-block-mobile {
    display: block !important;
  }
  .d-flex-mobile {
    display: block !important;
  }
  .d-iblock-mobile {
    display: inline-block !important;
  }
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: block !important;
}
.d-iblock {
  display: inline-block !important;
}

// Overflow Values

@media screen and (min-width: 768px) {
  .o-hidden-desktop {
    overflow: hidden !important;
  }
  .o-scroll-desktop {
    overflow: scroll !important;
  }
}

@media screen and (max-width: 768px) {
  .o-hidden-mobile {
    overflow: hidden !important;
  }
  body.o-hidden-mobile {
    height: 100%;
    overflow: hidden !important;
    width: 100%;
    position: fixed;
  }
  .o-scroll-mobile {
    overflow: scroll !important;
  }
}
.o-hidden {
  overflow: hidden !important;
}

body.o-hidden {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
  position: fixed;
}
.o-scroll {
  overflow: scroll !important;
}

// Opacity Values
@media screen and (min-width: 768px) {
  .opac-0-desktop {
    visibility: hidden;
    pointer-events: none;
    opacity: 0 !important;
  }
  .opac-1-desktop {
    visibility: initial;
    pointer-events: none;
    opacity: 1 !important;
  }
}
@media screen and (max-width: 768px) {
  .opac-0-mobile {
    visibility: hidden;
    pointer-events: none;
    opacity: 0 !important;
  }

  .opac-1-mobile {
    visibility: initial;

    pointer-events: none;
    opacity: 1 !important;
  }
}

.opac-0 {
  visibility: hidden;
  pointer-events: none;
  opacity: 0 !important;
}

.opac-1 {
  visibility: initial;
  pointer-events: none;
  opacity: 1 !important;
}

// Pointer Events
.pointer-none {
  pointer-events: none;
}
.pointer-all {
  pointer-events: all;
}

// Paddings

.pt-0 {
  padding-top: 0rem !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}
.pt-5 {
  padding-top: 5rem !important;
}

@media screen and (min-width: 768px) {
  .pt-0-desktop {
    padding-top: 0rem !important;
  }
  .pt-1-desktop {
    padding-top: 1rem !important;
  }
  .pt-2-desktop {
    padding-top: 2rem !important;
  }
  .pt-3-desktop {
    padding-top: 3rem !important;
  }
  .pt-4-desktop {
    padding-top: 4rem !important;
  }
  .pt-5-desktop {
    padding-top: 5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .pt-0-mobile {
    padding-top: 0rem !important;
  }
  .pt-1-mobile {
    padding-top: 1rem !important;
  }
  .pt-2-mobile {
    padding-top: 2rem !important;
  }
  .pt-3-mobile {
    padding-top: 3rem !important;
  }
  .pt-4-mobile {
    padding-top: 4rem !important;
  }
  .pt-5-mobile {
    padding-top: 5rem !important;
  }
}

.pl-0 {
  padding-left: 0rem !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}
.pl-5 {
  padding-left: 5rem !important;
}

@media screen and (min-width: 768px) {
  .pl-0-desktop {
    padding-left: 0rem !important;
  }
  .pl-1-desktop {
    padding-left: 1rem !important;
  }
  .pl-2-desktop {
    padding-left: 2rem !important;
  }
  .pl-3-desktop {
    padding-left: 3rem !important;
  }
  .pl-4-desktop {
    padding-left: 4rem !important;
  }
  .pl-5-desktop {
    padding-left: 5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .pl-0-mobile {
    padding-left: 0rem !important;
  }
  .pl-1-mobile {
    padding-left: 1rem !important;
  }
  .pl-2-mobile {
    padding-left: 2rem !important;
  }
  .pl-3-mobile {
    padding-left: 3rem !important;
  }
  .pl-4-mobile {
    padding-left: 4rem !important;
  }
  .pl-5-mobile {
    padding-left: 5rem !important;
  }
}

.pr-0 {
  padding-right: 0rem !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.pr-3 {
  padding-right: 3rem !important;
}
.pr-4 {
  padding-right: 4rem !important;
}
.pr-5 {
  padding-right: 5rem !important;
}

@media screen and (min-width: 768px) {
  .pr-0-desktop {
    padding-right: 0rem !important;
  }
  .pr-1-desktop {
    padding-right: 1rem !important;
  }
  .pr-2-desktop {
    padding-right: 2rem !important;
  }
  .pr-3-desktop {
    padding-right: 3rem !important;
  }
  .pr-4-desktop {
    padding-right: 4rem !important;
  }
  .pr-5-desktop {
    padding-right: 5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .pr-0-mobile {
    padding-right: 0rem !important;
  }
  .pr-1-mobile {
    padding-right: 1rem !important;
  }
  .pr-2-mobile {
    padding-right: 2rem !important;
  }
  .pr-3-mobile {
    padding-right: 3rem !important;
  }
  .pr-4-mobile {
    padding-right: 4rem !important;
  }
  .pr-5-mobile {
    padding-right: 5rem !important;
  }
}

.pb-0 {
  padding-right: 0rem !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}
.pb-5 {
  padding-bottom: 5rem !important;
}

@media screen and (min-width: 768px) {
  .pb-0-desktop {
    padding-bottom: 0rem !important;
  }
  .pb-1-desktop {
    padding-bottom: 1rem !important;
  }
  .pb-2-desktop {
    padding-bottom: 2rem !important;
  }
  .pb-3-desktop {
    padding-bottom: 3rem !important;
  }
  .pb-4-desktop {
    padding-bottom: 4rem !important;
  }
  .pb-5-desktop {
    padding-bottom: 5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .pb-0-mobile {
    padding-bottom: 0rem !important;
  }
  .pb-1-mobile {
    padding-bottom: 1rem !important;
  }
  .pb-2-mobile {
    padding-bottom: 2rem !important;
  }
  .pb-3-mobile {
    padding-bottom: 3rem !important;
  }
  .pb-4-mobile {
    padding-bottom: 4rem !important;
  }
  .pb-5-mobile {
    padding-bottom: 5rem !important;
  }
}

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

@media screen and (min-width: 768px) {
  .py-0-desktop {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .py-1-desktop {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .py-2-desktop {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .py-3-desktop {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .py-4-desktop {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  .py-5-desktop {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .py-0-mobile {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .py-1-mobile {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .py-2-mobile {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .py-3-mobile {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .py-4-mobile {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  .py-5-mobile {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}

.px-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.px-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

@media screen and (min-width: 768px) {
  .px-0-desktop {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .px-1-desktop {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .px-2-desktop {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .px-3-desktop {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .px-4-desktop {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  .px-5-desktop {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .px-0-mobile {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .px-1-mobile {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .px-2-mobile {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .px-3-mobile {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .px-4-mobile {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  .px-5-mobile {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

// Links
@media screen and (min-width: 768px) {
  .link-hover a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 0 4px;
  }

  .link-hover a span {
    position: relative;
    display: inline-block;
    color: $black;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .link-hover a span::before {
    position: absolute;
    color: $primary;
    top: 100%;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .link-hover a:hover span,
  .link-hover a:focus span {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

// Transitions

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Buttons
.btn-large {
  font-size: 1.4rem;
  border-radius: 0;
  z-index: inherit;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 1.4rem 2rem;
  color: $black;
  position: relative;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border: 1px solid transparent;
}
.btn-large.active {
  background: transparent;
  // cursor: pointer;
  border: 1px solid $black;
  color: $primary;
  &:hover {
    background: rgba(255, 255, 255, 0.8);
    color: $black;
    border: 1px solid $black;
  }
}

a.text-link-wrapper {
  position: relative;
  // cursor: pointer;
  text-decoration: none;
  color: $linkcolor;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  // padding: 0.3rem 0.2rem;
  .text-link {
    // padding-left: 3px;
    // z-index: 2;
    -webkit-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
    position: relative;
  }
  i {
    padding-left: 0.5rem;
  }
  &:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    top: 67%;
    // z-index: 1;
    height: 5px;
    width: 100%;
    background: #addcca;
  }
  &:hover:before {
    top: 0;
    height: 100%;
  }
  &:hover .text-link {
    color: $black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &:hover i {
    color: $black;
  }
}

.fas,
.fab {
  z-index: 1;
}

@media screen and(min-width:768px) {
  span.strikethrough {
    position: relative;
    word-break: normal;
    &:after {
      position: absolute;
      content: "";
      height: 3px;
      left: 0;
      border-radius: 5px;
      width: 98%;
      left: 50%;
      // background-color: ;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) scaleX(1);
      transform: translate(-50%, -50%) scaleX(1);
      -webkit-transform-origin: right center;
      transform-origin: right center;
      -webkit-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
      transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:hover:after {
      -webkit-transform: translate(-50%, -50%) scaleX(0);
      transform: translate(-50%, -50%) scaleX(0);
    }
  }
}

span.tooltip {
  position: relative;
  &:before {
    content: attr(data-popup);
    position: absolute;
    left: 50%;
    top: -20px;
    -webkit-transform: translate(-50%, calc(-50% + 10px));
    transform: translate(-50%, calc(-50% + 10px));
    display: inline-block;
    font-weight: 600;
    width: max-content;
    color: $black;
    bottom: auto;
    background-color: $white;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    padding: 0.3rem 0.3rem;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  &:hover:before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, calc(-50% + 25px)) rotate(45deg);
    transform: translate(-50%, calc(-50% + 25px)) rotate(45deg);
    width: 5px;
    height: 5px;
    background-color: $white;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  &:hover:after {
    opacity: 1;
    -webkit-transform: translate(-50%, calc(-50% + 15px)) rotate(45deg);
    transform: translate(-50%, calc(-50% + 15px)) rotate(45deg);
  }
}

.navbar-fix {
  padding-top: 75px;
}
