.mouse-pointer {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
  background-color: rgb(153, 31, 31);
  // background-color: transparent;
  position: fixed;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  will-change: top, left;
  mix-blend-mode: difference;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…e="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  pointer-events: none;
}

.hovered-link {
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
